{% extends 'base.html' %}
{% load allauth %}

{% block title %}Reset Password - TaskFlow{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
                <h2 class="text-center mb-4">Password Reset</h2>
                <p class="text-center mb-4">
                    We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.
                </p>   
    </div>
</div>
{% endblock %}